// ==========================================
// BASE
// ==========================================

* {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;

  ::selection {
    background: $color-selection;
  }
}

a {
  outline: none;
}

a:link {
  color: $color-text-link;
}

a:visited {
  color: $color-text-link-visited;
}

body, input, textarea, button, select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}


// HEADLINES

h1, h2 {
  color: $color-headline;
  font-family: $font-heading;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-headline;
  text-transform: none;
}

h3, h4, h5, h6 {
  color: $color-headline;
  font-family: $font-body;
  font-weight: $font-body-weight;
  // font-weight: $font-weight-medium;
  letter-spacing: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4, h5, h6 {
  font-size: 1.375rem;
}

// PARAGRAPHS

p {
  font-size: 1.375rem;
  line-height: $line-height-body-text;
}
