<section class="hero-section">
  <div class="hero-wrapper">
    <div class="hero-text">
      <h1>Lorem Ipsum</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="button hero-button">Shop Now</a>
    </div>
  </div>
</section>

{{ content_for_index }}
