<section class="hero-section">
  <div class="hero-wrapper">
    <div class="hero-text">
      <h1>Lorem Ipsum</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="button hero-button">Shop Now</a>
    </div>
  </div>
</section>

{{ content_for_index }}

<section class="about-section">
  <div class="about-frame">
    <div class="about-text">
      <h3>About Konquer Jiu Jitsu</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
    </div>
  </div>
</section>
