.hero-section {
  background-image: url({{ 'hero-image.png' | asset_url }});
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 85vh;
  position: relative;
  top: -120px;
  width: 100%;
  z-index: -100;
}

.hero-wrapper {
  align-items: center;
  display: flex;
  height: -webkit-calc(100% - 120px);
  height:   -moz-calc(100% -120px);
  height:     calc(100% - 120px);
  position: relative;
  top: 68px;
  width: 100%;
}

.hero-text {
  margin-left: 10%;
  margin-bottom: 24px;
  width: 420px;
}

.hero-text h1 {
  color: $white;
}

.hero-text p {
  color: $white;
  font-family: 'Avenir Next Medium', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 44px;
}

.hero-button {
  border: 3px solid $white;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  color: $white;
  font-family: 'Avenir Next Demi Bold', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2.25px;
  padding: 10px 20px;
  text-transform: uppercase;

  :hover {
    cursor: pointer;
  }
}

.featured-collection {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  position: relative;
  top: -70px;
  width: 90%;
}

.featured-collection__image {
  margin-bottom: 20px;
}

.featured-collection h2 {
  display: none;
}

.featured-collection a {
  text-decoration: none;
}

.featured-collection p {
  color: $black;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.featured-collection span {
  color: rgba($black, 0.75);
  display: flex;
  font-family: 'Avenir Next Medium', sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  width: 100%;
}
