header {
  height: 120px;
  width: 100%;
}

.header-wrapper {
  height: 120px;
  margin: 0 auto;
  width: 90%;
}

.logo-image {
  margin: 0 auto;
  padding-top: 7px;
  text-align: center;
  transform: scale(0.95);
}

.main-nav--left {
  transform: translateY(-82px);
}

.main-nav--right {
  transform: translateY(-68px);
}

.main-nav--left ul {
  align-items: center;
  display: flex;
  float: left;
  justify-content: center;
  -webkit-padding-start: 0;

  li {
    padding-right: 40px;
  }
}

.main-nav--right {
  align-items: center;
  display: flex;
  float: right;
  justify-content: center;

  > * {
    padding-left: 40px;
  }
}

.main-nav--left ul li, .main-nav--right ul li {
  list-style-type: none;
}

.main-nav--left a, .main-nav--right a {
  color: $white;
  font-family: 'Avenir Next Demi Bold', sans-serif;
  font-size: 18px;
  letter-spacing: 2.25px;
  text-decoration: none;
  text-transform: uppercase;
}

.search-form input, .search-form button {
  display: none;
}

.main-nav--right path {
  fill: $white;
}

.main-nav--right .fa {
  color: $white;
  font-size: 22px;
}
