// ==========================================
// HEADER
// ==========================================

.template-index {
  margin-top: -21px;
}

header {
  background: #3dacac;
  height: 120px;
  width: 100%;
}
